<div class="about">
    <div class="about_image">
        <img src="/assets/images/posts/f2.jpg" alt="">
    </div>
    <div class="about_text">
        <p>This is me, Mario!</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et tristique nibh.
        </p>
        <p>
            Vestibulum blandit, tortor eget. Donec sodales sodales massa, eu euismod lectus vestibulum sed.
        </p>
        <div class="about_social">
            <span class="social_icon"></span>
            <p>¡Sígueme!</p>
        </div>
    </div>
</div>