.about {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-content: space-between;
    margin: 0px auto;
    margin-top: 5vh;
    text-align: center;
    width: 70vw;

    .about_image {
        width: 100%;
    }

    .about_text {
        font-size: 30px;
        text-align: justify;
        width: 50vw;
    }
}

.about_social {
    align-items: center;
    display: flex;
    // justify-content: center;
    // text-align: center;

    p {
        padding-left: 5px;
    }
}

.social_icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    -webkit-mask: url('/assets/images/insta.svg');
    mask: url('/assets/images/insta.svg');
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: $base_color;
}

@media (min-width: 1200px) {
  
    .about {
        .about_image {
            width: 30vw;
            img {
                height: 100%;
                max-width: 100%;
                display: block;
                margin: auto;
            }
        }
        .about_text {
            padding: 10px;
            width: 35vw;
        }    
    }
}