footer {
    margin: 0px auto;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: new_font;
    margin-top: 1em;

    & > div {
        width: 50vw;
        text-align: center;
    }
}
