$base_color: #267a26;
$accent_color: #ffaaaa;

$smallest_width: 70vw;
$small_width: 80vw;
$normal_width: 90vw;
$big_width: 95vw;

@font-face {
    font-family: new_font;
    src: url('/assets/fonts/JosefinSans-Regular.ttf');
}

@font-face {
    font-family: new_font_bold;
    src: url('/assets/fonts/JosefinSans-Bold.ttf');
}

@font-face {
    font-family: title_font;
    src: url('/assets/fonts/Nathalia.ttf');
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: new_font;
}

a {
    text-decoration: none;
}

nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: $big_width;
    border-top: $base_color 1px solid;
    border-bottom: $base_color 1px solid;
    margin: 0px auto;
    margin-bottom: 3vh;

    ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        padding: 0;
    }

    li a {
        color: $base_color;
        display: inline-block;
        padding: 14px 16px;
        text-align: center;
        text-decoration: none;
        transition: all 0.1s linear;

        &:hover {
            color: $accent_color;
        }
    }

    .current {
        color: $accent_color;
        font-weight: bolder;
    }
}

main {
    flex: 1 0 auto;
    justify-items: center;
}

.error_page {
    text-align: center;
    margin-top: 10vh;
}

::selection {
    background-color: pink;
}

@media (min-width: 768px) {
    nav {
        width: $normal_width;
    } 
}
@media (min-width: 1024px) {
    nav {
        width: $small_width;
    }
}
@media (min-width: 1280px) {
    nav {
        width: $smallest_width;
    }
}