
.post_detail {
    width: 60vw;
    margin: 0px auto;
    font-size: 1.2em;
    margin-bottom: 5vh;

    h1 {
        color: $base_color;
    }

    img {
        width: 100%;
        margin: 0px auto;
    }

    p {
        width: 100%;
    }
}

.post_header {
    margin-bottom: 5vh;

    h1 {
        margin: 10px 0px;
        font-family: title_font;
    }

    a {
        color: $base_color;
        text-decoration: none;
        transition: all 0.1s linear;

        &:hover {
            color: $accent_color;
        }
    }
}

.sakura {
    width: 15px;
    height: 15px;
    display: inline-block;
    -webkit-mask: url('/assets/images/sakura.svg');
    mask: url('/assets/images/sakura.svg');
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: $accent_color;
    margin-right: .3em;
    margin-left: .3em;
    transform: translateY(15%);
}

.post_content {
    text-align: justify;
    line-height: 1.5em;

    p img {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
        margin: 0px auto;
    }

    p::first-letter {
        font-size: 150%;
    }
}

.post_tags {
    margin-top: 5vh;
    border: $base_color 1px solid;
    padding: .7em;
    font-family: new_font_bold;
    color: $accent_color;
    width: max-content;

    a {
        color: $base_color;
        text-decoration: none;
        transition: all 0.1s linear;

        &:hover {
            color: $accent_color;
        }
    }
}