---
---
{% include head.html %}
{% include navigation.html %}
<main>
    <div class="post_detail">
        <div class="post_header">
            <h1>{{ page.title | capitalize }}</h1>
                <span>Por Ilya</span>
                
                <span class="post_date"> el {{ page.date | date: "%m/%d/%Y" }}</span>
                <span class="sakura"></span>
                
        </div>
        <div class="post_content">
            {{ content }}
        </div>
        
        {% if page.tags %}
            <div class="post_tags">
                {% for tag in page.tags %}
                    <div class="post_tags_item"><a href="/tags/{{ tag }}">{{ tag | upcase }}</a>{{ " " }}</div>
                        
                {% endfor %}
            </div>
        {% endif %}
    </div>
</main>
{% include footer.html %}